@{
    ViewData["Title"] = "Ingredients";
}

<p>Click below to search for ingredients:</p>
<ul class="columns" data-columns="2">

@foreach(char letter in ViewBag.FirstLetters)
{
  @Html.ActionLink($"{letter} ", "Index", new { letter = letter})
}

</ul>

<hr>


@foreach (Ingredient ingredient in Model)
{
    <div class="ingredient">
        <li>@ingredient.StrIngredient</li>
    </div>
}