@{
  ViewData["Title"] = "Ingredient Search";
}

<div class="text-center">
  <h1 class="display-4">Ingredient Search</h1>
  <h4>Click on an ingredient to add it to your fridge.</h4>
</div>

<div class="text-center">
  @using (Html.BeginForm("Search", "Ingredients"))
  {
    @Html.TextBox("searchString")
    <input type="submit" class="btn btn-dark" value="Search for an Ingredient">
  }
</div>

<hr>

<style>
  .threeIngredients {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
</style>

@* @if (Model == )
{
  <p>No results found.</p>
}
else
{ *@
  <ul class="threeIngredients">
    @foreach (Ingredient ingredient in Model)
    {
      <div class="ingredient">
        <li>
          @if (!ViewBag.Fridge.Contains(ingredient.StrIngredient))
          {
            @using (Html.BeginForm("AddIngredient", "Ingredients"))
            {
              <input data-val="true" data-val-required="The idIngredient field is required." id="idIngredient"
        name="idIngredient" type="hidden" value="@ingredient.IdIngredient">
              <input type="submit" value="@ingredient.StrIngredient" class="btn btn-link">
            }
          }
          else
          {
            <button class="btn btn-text">@ingredient.StrIngredient</button>
            //delete form goes here
          }
        </li>
      </div>
    }
  </ul>
@* } *@