@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fridge Raider</h1>


@if(User.Identity.IsAuthenticated)
{
    <p>Welcome @User.Identity.Name!</p>
    @*Add in links to user's page where they have saved fridge items and favorite recipes*@
}
else
{
    <p>@Html.ActionLink("Login or register", "Index", "Account") to start adding food and saving favorite meals!</p>
}
</div>
<hr>

<style>
.mealDisplay {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
}

img {
    width: 150px;
}

.meal {
    height: 230px;
}

body {
background-image: url("https://2rdnmg1qbg403gumla1v9i2h-wpengine.netdna-ssl.com/wp-content/uploads/sites/3/2015/01/freezerOrFridgeFoods-139579260-770x533-1-650x428.jpg")no-repeat fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

</style>

<ul class="mealDisplay">
@foreach (Meal meal in Model)
{
    <div class="meal text-center">
        <a href="~/Meals/Details/@meal.IdMeal">
        <img src="@meal.StrMealThumb/preview" alt="">
        <br>
        @meal.StrMeal
        </a>
    </div>
}
</ul>