@{
  ViewData["Title"] = "Fridge";
}

<div class="text-center">
  <h1 class="display-4">Fridge Ingredients</h1>
</div>
<hr>

<style>
.fridgeIngredients {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
</style>

<ul class="fridgeIngredients">
@foreach (var join in Model)
{
  <div class="fridge">
  <li>@join.StrIngredient</li>
  </div>
}
</ul>