@{
  ViewData["Title"] = "Recipe Book";
}

<div class="text-center">
  <h1 class="display-4">Recipes</h1>
</div>
<hr>

<style>
.savedRecipes {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
}

img {
    width: 150px;
}

.meal {
    height: 230px;
}
</style>

<ul class ="savedRecipes">
@foreach (Meal meal in Model)
{
  <div class="meal">
    <a href="~/Meals/Details/@meal.IdMeal">
      <img src="@meal.StrMealThumb/preview" alt="">
      <br>
      @meal.StrMeal
    </a>
  </div>
}
</ul>
