@{
  ViewData["Title"] = "Recipe Book";
}

<div class="text-center">
  <h1 class="display-4">Recipes</h1>
</div>

<p>Saved Recipes:</p>
@foreach (Meal meal in Model)
{
  <div class="meal">
    <a href="~/Meals/Details/@meal.IdMeal">
      <img src="@meal.StrMealThumb/preview" alt="">
      <p>@meal.StrMeal</p>
    </a>
  </div>
}
