@{
  ViewData["Title"] = "Category";
}

<div class="text-center">
    <h1 class="display-4">Meals in Category</h1>
</div>
<hr>

<style>
.display {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
}

img {
    width: 150px;
}

.meal {
    height: 230px;
}
</style>

<ul class="display">
@foreach (Meal meal in Model)
{
  <div class="meal">
    <a href="~/Meals/Details/@meal.IdMeal">
      <img src="@meal.StrMealThumb/preview" alt="">
      <br>
      @meal.StrMeal
    </a>
  </div>
}
</ul>