@{
    ViewData["Title"] = "Meal Categories";
}

<div class="text-center">
    <h1 class="display-4">Meal Categories</h1>
        @using (Html.BeginForm("Search", "Meals"))
        {
          @Html.TextBox("searchString")
          <input type="submit" class="btn btn-dark" value="Search for a Meal">
        }
</div>

<style>
    .categoryDisplay {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
        text-align: center;
    }

    img {
    width: 250px;
    }

    .category {
    height: 230px;
    }
</style>
<hr>
<br>
  <ul class="categoryDisplay">
@foreach (Category category in Model)
  {
    <div class="category">
    <a href="~/Meals/Category/@category.StrCategory">
        <img src="@category.StrCategoryThumb" alt="">
        <br>
        @category.StrCategory
        </a>
    </div>
    }
    </ul>