@{
    ViewData["Title"] = "Meal Categories";
}

<div class="text-center">
    <h1 class="display-4">Meal Categories</h1>
</div>

<p>These are the categories of meals available to make:</p>
@foreach (Category category in Model)
{
    <div class="category">
        <a href="~/Meals/Category/@category.StrCategory">
        <img src="@category.StrCategoryThumb" alt="">
        <p>@category.StrCategory</p>
        </a>
    </div>
}